<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ICheckResponse" connectionString="data source=DELL-002145\SQLEXPRESS2016;initial catalog=ICheckResponse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--add name="ICheckResponse" connectionString="data source=SITECDB-A;initial catalog=ICheckResponse;Persist Security Info=True;User ID=ipchecker;Password=1234567" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="fileInfo" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target type="File" layout="${level} ${longdate} ${logger} ${message} ${exception:format=Message,StackTrace}" fileName="E:\Cache\checkResponse\log.txt" archiveFileName="E:\Cache\checkResponse\log.{#}.txt" maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="Date" networkWrites="True" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileInfo" />
    </rules>
  </nlog>
</configuration>